.cart-container {
  background-color: aliceblue;
  position: relative;
}

.cart-container:hover {
  padding: 10px;
  border: 1px solid black;
  transition: 0.4s;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.cart-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cart-price {
  font-weight: 500;
}

.addCart {
  background-color: black;
  color: white;
}
